@import './styles/tokens.css';

body {
	margin: 0;
	background: var(--color-bg);
	color: var(--color-text);
}

body * {
	box-sizing: border-box;
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-medium);
	font-family: var(--font-heading);
	margin: 0;
	& * {
		font-family: var(--font-heading);
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}
